.main h1 {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.pagingContainer {
  display: flex;
  margin: 0 260px;
  font-size: 18px;
  color: #333;
}

.loadingContainer {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  font-size: 22px;
}

.buttonContainer {
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}

.navButtonContainer {
  display: flex;
}

@media (max-width: 768px) {
  .pagingContainer {
    margin-left: 16px;
    font-size: 16px;
  }
}
